@charset "utf-8";
/* CSS Document */

body {
	background-color: #fff;
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #efefef;
	text-align: center;
}

p{
	margin: 10px;
	padding: 10px;
}

#container {
	margin: 0;
	border: 0;
	width: auto;
	height: auto;
	text-align: left;
	background-color: #666;
}

#header_bg{
	margin: 0;
	border: 0;
	width: 100%;
	/*height: 150px;*/
	background-color: #fff;
	text-align:center;
}

#header {
	margin: 0;
	border: 0;
	width: 100%;
	height: 120px;
	background-color: #fff;
	text-align:center;
}

#logo {
	margin: 0 auto;
	border: 0;
	width: 875px;
	height: 80px;
	float: left;
}

#login {
	margin: 0;
	border: 0;
	float: right;
}

#login a:link, a:visited {
    display: inline;
    width: 80px;
    font-weight:normal;
    color: #272628;
    text-align: right;
    padding: 4px;
    text-decoration: none;
	text-transform: lowercase;
}

#login a:hover, a:active {
    color: #d0d0d0;
}


#loggedIn {
	margin: 0;
	width: 100%;
	height: 20px;
	padding: 0;
	background-color: #339;
	color: #fff;
	float: right;
	font-size: 12px;
	font-weight: bold;
	text-align: right;
}

#loggedIn a:link, a:visited {
    display: inline;
    width: 80px;
    font-weight:normal;
    color: #FFF;
    text-align: right;
    padding: 4px;
    text-decoration: none;
	text-transform: lowercase;
}

#loggedIn a:hover, a:active {
    color: #F00;
}

#menu {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 60px;
	margin-right: 40px;
	border: 0;
	width: 100%;
	height: 30px;
	float: right;
	background-color: #339;
		
}

#menu_filler{
	margin: 0;
	border: 0;
	width: 10%;
	float: left;
}

#banner {
	margin: 0;
	margin-left: 10px;
	margin-right: 10px;
	padding: 0;
	float: left;
	width: 100%;
	height: 90px;
	background-image: url(adminImages/logo.jpg);
	background-repeat:no-repeat;
	background-position:center left;
	background-color: #fff;
}

/*#ban_foot {
	margin: 0;
	padding: 0;
	float: left;
	position: absolute;
	bottom: -6117px;
	clear:both;
	width: 230px;
	height: 80px;
	z-index: 100;
	left: 200px;
	/*background-image: url(../images/image_tree.gif);
}*/

#main_body {
	margin: 0 auto;
	border-bottom-color: #039;
	border-bottom-style: solid;
	border-bottom-width: thin;
	width: 100%;
	height: 500px;
	background-color: #E7E4E2;
	text-align: center;
	background-position: center center;
	color: #006;
}

#content {
	margin: 0;
	padding: 100px;
	padding-top: 80px;
	border: 1 thin #000;
	width: auto;
	height: 100%;
	text-align: center;
}

input[type=text] {
    padding: 5px; 
    border: 2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color:#333;
}

input[type=password] {
    padding: 5px; 
    border: 2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=password]:focus {
	border-color:#333;
}

input[type=submit] {
    padding: 5px 15px; 
    background: #333; 
    border:0 none;
	color: #FFF;
	font-weight: bold;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

ul {
    list-style-type: none;
	width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float:right;
	margin: 0;
	padding: 0;
	border-right-color:#003;
	border-right-style:solid;
	border-right-width: 1px;
}

#menu a:link, a:visited {
    display: block;
    width: auto;
    font-weight: bold;
    color: #fff;
    background-color: #339;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: lowercase;
}

#menu a:hover, a:active {
    background-color: #33F;
	border: thin;
}

#menu {
	margin: 0;
	padding: 0;
	width: 100%;
}

#footer_bg {
	margin:auto;
	border: 0;
	width: auto;
	height: 80px;
	background-color: #fff;
	text-align: center;
}

#footer {
	margin:auto;
	border: thin;
	border-color:#333;
	width: 875px;
	height: 80px;
	background-color: #fff;
	text-align: center;
}

#footer ul {
	list-style-type: none;
	width: 875px;
    margin: 0;
    padding: 10px;
	padding-top: 30px;
    overflow: hidden;
	text-align:center;
	border: 0px;
	float: right;
}

#footer li {
	float:left;
	margin: 5px;
	padding: 5px;
	list-style-type: none;
	border: 0px;
}

#footer a:link, a:visited {
    display: inline;
    font-weight:normal;
    color: #272628;
    text-align: center;	
    padding: 2px;
    text-decoration: none;
	font-size: 12px;
}

#footer a:hover, a:active {
	border: 0;
	font-size: 12px;
	font-weight: normal;
    text-decoration:underline;
}

span {
	margin: 0;
	padding: 0; 
	border: 0;
	height: 100%;
}

span a:link, a:visited {
	display: inline;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}

span a:hover, a:active {
	border: 0;
	text-decoration: none;
	font-weight: bold;
	background-color: #338AF4;
}

#top {
	margin: 10px;
	padding: 10px;
}

h1 {
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 2.5em;
	font-weight: lighter;
	color: #333;
}

#content h1 {
	margin-top: 20px;
	color: #333;
}

h4{
	margin: 0px;
	padding: 0px;
	text-align: left;
	font-weight: bold;
}

#register {
	margin: 0;
	margin-top: 40px;
	padding: 0;
	padding-left: 40px;
	width: 400px;
	text-align: left;
	color: #003;
	background-color: #E7E4E2;
}

#register input[type=text] {
	padding: 5px; 
    border: 2px thin #ccc; 
}

#register input[type=text]:focus {
    border-color:#333;
}

#register input[type=password] {
    padding: 5px; 
    border: 2px solid #ccc; 
}

#register input[type=password]:focus {
	border-color:#333;
}

#register input[type=submit] {
    padding: 5px 15px; 
    background: #333; 
    border:0 none;
	color: #FFF;
	font-weight: bold;
    cursor:pointer;
}

#register input[type=submit] {
    padding: 5px; 
    border: 2px solid #ccc; 
}
	
#error {
	margin: 20px;
	padding: 20px;
	padding-top: 50px;
	color: #036;
	font: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}

.formcontainer {
	width: 400px;
	text-align:left;
}

.formcontainer input {
	width: 60%;
	float:right
}
